@use "colors";

@each $name, $color in colors.$classcolors {
  .bg-#{$name} {
    background-color: $color;
  }
  .bg-lighten-#{$name} {
    background-color: lighten($color, 10%);
  }
  .text-#{$name} {
    color: $color;
  }
}
