// Color Palette:
// Primary color, representing the Alliance faction.
$alliance-blue: #0033CC;
// Accent color, highlighting buttons, icons, and key information.
$regal-gold: #f7b801;
// Background color for content areas, providing contrast.
$deep-space: #282D33;
$mako: #45494F;
// Secondary text and subtle UI elements, offering readability without overpowering.
$silver-steel: #72767D;
// Call to action buttons and critical alerts, drawing attention.
$victory-red: #C41F3B;
// Used sparingly for success messages or progress bars.
$elwynn-forest-green: #1A472A;

$rarity-common: #fff;
$rarity-uncommon: #1eff00;
$rarity-rare: #0070dd;
$rarity-epic: #a335ee;
$rarity-legendary: #ff8000;

$classcolors: (
  "warrior": #c79c6e,
  "paladin": #f58cba,
  "hunter": #abd473,
  "rogue": #fff569,
  "priest": #ffffff,
  "deathknight": #c41f3b,
  "shaman": #0070de,
  "mage": #40c7eb,
  "warlock": #8787ed,
  "monk": #00ff96,
  "druid": #ff7d0a,
  "demonhunter": #a330c9,
);

