@import "colors";

:host {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
  background: $deep-space;
  border: 1px solid $mako;
  border-radius: 2px;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.characters {
  max-height: calc(77vh);
  overflow-y: scroll;
}
.filters {
  //height: 23vh;
  display: flex;
  flex-direction: column;
  margin: 0 0 17px;
  label {
    font-size: 14px;
    color: #9d9d9d;
  }
  select, input {
    width: 100%;
    margin: 0 0 3px;
    height: 24px;
  }
}
.used {
  opacity: .5;
}
.actions {
  button {
    display: block;
    background: $mako;
    color: #fff;
    cursor: pointer;
    padding: 2em;
    border-radius: 2px;
    font-weight: bold;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    box-shadow: inset 0 0 0 1px #383838;
    position: relative;
    border: none;
    width: 100%;
    margin: 0 0 1em;
    text-align: center;
    &[disabled] {
      cursor: default;
    }
    &:last-child {
      margin: 0;
    }
  }
}
app-raid-tile {
  display: block;
  margin: 0 0 .5em;
}
app-character-tile {
  margin: 0 0 3px;
}
.raid-groups {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin: 0 0 2em;
}
