@import "colors";
@import "screen-sizes";

:host {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
  padding: 10px;
  background: rgba($deep-space, .9);
  border-radius: .5em;
  box-shadow: 0 .25em 2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1em);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  @include screen-tablet() {
    grid-template-columns: 1fr;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.characters {
  max-height: calc(60vh);
  overflow-y: scroll;
}
.filters {
  //height: 23vh;
  display: flex;
  flex-direction: column;
  margin: 0 0 17px;
  label {
    font-size: 14px;
    color: #9d9d9d;
  }
  select, input {
    width: 100%;
    margin: 0 0 3px;
    height: 24px;
  }
}
.used {
  opacity: .5;
}
.add-raid, .capture-screenshot {
  display: block;
  background: $mako;
  color: #fff;
  cursor: pointer;
  padding: 2em;
  border-radius: 2px;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  border: 1px solid #383838;
  position: relative;
  width: 100%;
  margin: 0 0 1em;
  text-align: center;
  &[disabled] {
    cursor: default;
  }
}
.add-raid {
  min-height: 202px;
  display: block;
  margin: 0;
  color: $regal-gold;
  font-size: 2em;
  &:nth-child(even) {
    margin-top: 32px;
  }
}
app-raid-tile {
  display: block;
}
app-character-tile {
  margin: 0 0 3px;
}
.icon-photo {
  scale: 2;
}
.raid-groups {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin: 0 0 2em;
  @include screen-tablet() {
    grid-template-columns: 1fr;
  }
}
.characterClassAndRole {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  img {
    display: block;
  }
  label {
    padding: .125em;
    margin: .125em;
    border-radius: .125em;
    cursor: pointer;
    opacity: .5;
    will-change: opacity;
    transition: opacity .2s;
    &.checked, &:hover {
      opacity: 1;
    }
  }
  input[type="checkbox"] {
    display: none;
  }
}
