<aside>
  <form class="filters" [formGroup]="formGroup">
    <label for="eventId">Event ID</label>
    <input id="eventId" type="string" formControlName="eventId">
<!--    <label for="player">Player</label>-->
<!--    <select id="player" formControlName="player"><option value="">All</option><option *ngFor="let option of players" [value]="option.name">{{option.name}}</option></select>-->
<!--    <label for="characterClass">Class</label>-->
<!--    <select id="characterClass" formControlName="characterClass"><option value="">All</option><option *ngFor="let option of characterClasses | keyvalue" [value]="option.value">{{option.value}}</option></select>-->
<!--    <label for="characterRole">Role</label>-->
<!--    <select id="characterRole" formControlName="characterRole"><option value="">All</option><option *ngFor="let option of characterRoles | keyvalue" [value]="option.value">{{option.value}}</option></select>-->
<!--    <label for="characterRank">Rank</label>-->
<!--    <select id="characterRank" formControlName="characterRank"><option value="">All</option><option *ngFor="let option of characterRank | keyvalue" [value]="option.value">{{option.value}}</option></select>-->
    <label for="characterLevel">Level</label>
    <input type="number" id="characterLevel" formControlName="characterLevel">
    <div class="characterClassAndRole" formGroupName="characterClassAndRole">
      <label *ngFor="let item of iconsSpecs | keyvalue" [for]="item.key" class="bg-{{item.key.split('_')[0] | lowercase}}" [class.checked]="isCharacterClassAndRoleChecked(item.key)">
        <input [formControlName]="item.key" [id]="item.key" [value]="item.key"  type="checkbox">
        <img src="assets/icons/{{item.value}}" alt="">
      </label>
    </div>
  </form>
  <ul class="characters">
    <li *ngFor="let character of filteredCharacters">
      <app-character-tile
        [class.used]="!isCharacterAvailable(character)"
        [draggable]="isCharacterAvailable(character)"
        [character]="character"
        (dragstart)="dragFromSidebar(character)"
        (dragend)="onSidebarDragend()"
        (click)="onSidebarCharacterClick(character)"
      ></app-character-tile>
    </li>
  </ul>
</aside>
<section>
  <div #raidGroups class="raid-groups">
    <app-raid-tile
      *ngFor="let raid of raids; index as i"
      [raid]="raid"
      [title]="'Raid #' + (i+1)"
      (onSlotClick)="onRaidSlotClick(i, $event)"
      (onSlotDragStart)="onRaidSlotDragStart(i, $event)"
      (onSlotDragEnd)="onRaidSlotDragEnd()"
      (onDragOver)="onRaidDragOver(i, $event)"
      (onPruneClick)="onRaidPruneClick(i)"
      (onRemoveClick)="onRaidRemoveClick(i)"
    ></app-raid-tile>
    <button class="add-raid" (click)="onAddRaidClick()" type="button">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div class="actions">
    <button [disabled]="capturingScreenshot" class="capture-screenshot" (click)="screenshot()" type="button"><span class="icon-photo" [class.loading]="capturingScreenshot"></span></button>
  </div>
</section>
