<h1><strong>Їzhachok</strong> — українська PvE-гільдія</h1>
<hr>
<h4>Версія гри: TBC Classic Anniversary</h4>
<h4>Фракція: Орда</h4>
<h4>Сервер: Spineshatter (PvP) — EU</h4>
<hr>
<h3>Рейдтайм</h3>
<p>Середа, Четвер. 20:30. Збір починається о 20:15. Заміни стартують о 20:20.</p>
<h3>Система луту</h3>
<p>Консул по аудиту</p>
<hr>
<h3>Наша мета</h3>
<p>
  Закривати рейдовий контент в українському колективі, де кожен відповідально ставиться до рейду та особистого
  перфомансу.
</p>
<p>
  Якщо ви не готові покращувати свій перфоманс, грати по правилам, грати в підготовленому до рейду колективі,
  що означає ви самі відповідальні за підготовку вашого персонажу до рейду (знання класу, чарки, сокети,
  професії, знання механік боса, крафти і все інше, що маєте знати дефолту) — тоді, нажаль, вам не місце серед
  нашого комьюніті.
</p>
<h3>Основні правила для рейдерів</h3>
<ul>
  <li>Мати твінка для спліт-рейду.</li>
  <li>Професії для мейна — тільки ті, які максимально бустануть наш рейд. Для твінка — по бажанню.</li>
  <li>РМТ заборонено.</li>
</ul>

<hr>

<p class="note">
  Гільдія позіціонується як вільномовне ком'юніті для українців. У нас нема місця для мовних срачей та ми
  засуджуємо російське вторгнення і всіх людей, які виправдовують русню.
</p>

<p class="note">
  В нашій спільноті не засуджують за особисті вподобання, проте публікація в загальні чати російський контент
  заборонена.
</p>
<pre>
<b>Warcraftlogs:</b>
<a href="https://fresh.warcraftlogs.com/guild/id/773659" target="_blank">https://fresh.warcraftlogs.com/guild/id/773659</a>
</pre>
<pre>
<b>Permanent invite link:</b>
<a href="https://discord.com/invite/TwHKbACjVV" target="_blank">https://discord.gg/rj8nZ2SuSD</a>
</pre>
