<h1>Гільдія "Piana Vyshnia" - українська ПВЕ-гільдія.</h1>
<br>Фракція: Альянс
<br>Сервер: Spineshatter-EU
<br>
<br>Ми створили веселий колектив, в якому закриваємо контент Classic.
<br>Основний костяк у нас - це дорослі, досвідчені люди. До рейдів готуємось, хімію використовуємо, логи дивимся, всі рейдери повинні мати повний набір чантів та каменів і рейдові професії.
<br>
<br>Наша мета: впевнено та душевно проходити рейдові підземелля, насолоджуючись злагодженою командною працею,  взаємовиручкою та повагою до всіх гравців. Мета чудова, ми до неї йдем.
<br>В гільдії всі рішення приймаються прозоро і відкрито.
<br>Ніяких преференцій друзям і мухляжа.
<br>Ніякого РМТ (в тому числі обговорення) в діскорді.
<br>Новачкам допомагаємо як словом, так і ділом, було б бажання отримати допомогу.
<br>
<br>Завжди відкриті для людей, які поділяють наші погляди на рейдинг, скілованих гравців, нетоксичних, тих, хто вміє адекватно та спокійно спілкуватися, аргументувати свої слова та йти на компроміси. Людей, які будуть поважати погляди інших гравців та розуміти просту істину, що власна свобода закінчується там, де починається свобода іншої людини.
<br>
<pre>
<b>Warcraftlogs:</b>
<a href="https://fresh.warcraftlogs.com/guild/id/773659" target="_blank">https://fresh.warcraftlogs.com/guild/id/773659</a>
</pre>
<pre>
<b>Permanent invite link:</b>
<a href="https://discord.gg/rj8nZ2SuSD" target="_blank">https://discord.gg/rj8nZ2SuSD</a>
</pre>
