@import "colors";
@import "screen-sizes";

:host {
  display: block;
}
ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include screen-laptop-l {
    grid-template-columns: repeat(1, 1fr);
  }
}
h4 {
  margin: 0 0 1em;
  color: $silver-steel;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $mako;
  color: $silver-steel;
}
app-character-tile {
  border: none;
  width: 100%;
}
