@import "colors";
@import "screen-sizes";

:host {
  display: block;
  padding: 10px;
  background: rgba($deep-space, .9);
  border-radius: .5em;
  box-shadow: 0 .25em 2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1em);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  @include screen-tablet() {
    grid-template-columns: 1fr;
  }
}
app-raid-tile {
  margin: 0 0 1rem;
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  margin: 0 0 1rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  button {
    margin: 0;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 700;
    background: $deep-space;
    color: #fff;
    border: none;
    border-radius: .5em .5em 0 0;
    cursor: pointer;
    transition: background .3s, color .3s;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background: $mako;
    }
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus,
    &[disabled]:active,
    &[disabled].active {
      opacity: .5;
      pointer-events: none;
      cursor: not-allowed;
      background: transparent;
    }
    img {
      display: block;
      width: 48px;
      height: 48px;
    }
  }
}
app-assignments-raid-wide,
app-assignments-bwl {
  border: .25rem solid $mako;
  border-radius: .25rem;
  padding: .5rem;
}
