@if (raids.length) {
  @for (raid of raids; track $index) {
    <section>
      <app-raid-tile [raid]="raid" [hideControls]="true"></app-raid-tile>

      <nav>
        <button title="Raid wide assignments" (click)="togglePane($index, PaneNameEnum.RaidWide)" [class.active]="isPaneVisible($index, PaneNameEnum.RaidWide)" type="button">
          <img [src]="getPaneIcon(PaneNameEnum.RaidWide)" alt="">
        </button>
        <button title="Magtheridon assignments" (click)="togglePane($index, PaneNameEnum.Magtheridon)" [class.active]="isPaneVisible($index, PaneNameEnum.Magtheridon)" type="button">
          <img [src]="getPaneIcon(PaneNameEnum.Magtheridon)" alt="">
        </button>
        <button title="Ssc assignments" (click)="togglePane($index, PaneNameEnum.Ssc)" [class.active]="isPaneVisible($index, PaneNameEnum.Ssc)" type="button">
          <img [src]="getPaneIcon(PaneNameEnum.Ssc)" alt="">
        </button>
        <button title="Tk assignments" (click)="togglePane($index, PaneNameEnum.Tk)" [class.active]="isPaneVisible($index, PaneNameEnum.Tk)" type="button">
          <img [src]="getPaneIcon(PaneNameEnum.Tk)" alt="">
        </button>
        <button title="BWL assignments" (click)="togglePane($index, PaneNameEnum.Bwl)" [class.active]="isPaneVisible($index, PaneNameEnum.Bwl)" type="button" disabled>
          <img [src]="getPaneIcon(PaneNameEnum.Bwl)" alt="">
        </button>
        <button title="AQ40 assignments" (click)="togglePane($index, PaneNameEnum.Aq40)" [class.active]="isPaneVisible($index, PaneNameEnum.Aq40)" type="button" disabled>
          <img [src]="getPaneIcon(PaneNameEnum.Aq40)" alt="">
        </button>
        <button title="Naxxramas assignments" (click)="togglePane($index, PaneNameEnum.Naxxramas)" [class.active]="isPaneVisible($index, PaneNameEnum.Naxxramas)" type="button" disabled>
          <img [src]="getPaneIcon(PaneNameEnum.Naxxramas)" alt="">
        </button>
      </nav>

      @if (isPaneVisible($index, PaneNameEnum.RaidWide)) {
        <app-assignments-raid-wide [raid]="raid"></app-assignments-raid-wide>
      }
      @if (isPaneVisible($index, PaneNameEnum.Bwl)) {
        <app-assignments-bwl [raid]="raid"></app-assignments-bwl>
      }
      @if (isPaneVisible($index, PaneNameEnum.Magtheridon)) {
        <app-assignments-t4 [raid]="raid"></app-assignments-t4>
      }
      @if (isPaneVisible($index, PaneNameEnum.Ssc)) {
        <app-assignments-ssc [raid]="raid"></app-assignments-ssc>
      }
      @if (isPaneVisible($index, PaneNameEnum.Tk)) {
        <app-assignments-tk [raid]="raid"></app-assignments-tk>
      }
    </section>

  }
} @else {
  You have no raids. <a class="link" routerLink="/composition">Create a raid composition</a> to get started.
}
