<section *ngFor="let raid of raids; let i = index">
  <app-raid-tile [raid]="raid" [hideControls]="true"></app-raid-tile>

  <nav>
    <button title="Raid wide assignments" (click)="togglePane(i, PaneNameEnum.RaidWide)" [class.active]="isPaneVisible(i, PaneNameEnum.RaidWide)" type="button">
      <img [src]="getPaneIcon(PaneNameEnum.RaidWide)" alt="">
    </button>
    <button title="BWL assignments" (click)="togglePane(i, PaneNameEnum.Bwl)" [class.active]="isPaneVisible(i, PaneNameEnum.Bwl)" type="button">
      <img [src]="getPaneIcon(PaneNameEnum.Bwl)" alt="">
    </button>
    <button title="AQ40 assignments" (click)="togglePane(i, PaneNameEnum.Aq40)" [class.active]="isPaneVisible(i, PaneNameEnum.Aq40)" type="button" disabled>
      <img [src]="getPaneIcon(PaneNameEnum.Aq40)" alt="">
    </button>
  </nav>

  <app-assignments-raid-wide *ngIf="isPaneVisible(i, PaneNameEnum.RaidWide)" [raid]="raid"></app-assignments-raid-wide>
  <app-assignments-bwl *ngIf="isPaneVisible(i, PaneNameEnum.Bwl)" [raid]="raid"></app-assignments-bwl>
</section>
