@import "colors";

:host {
  display: flex;
  align-items: center;
  background: $mako;
  cursor: default;
  padding: 5px;
  border-radius: 2px;
  font-weight: bold;
  height: 38px;
  line-height: 2em;
  user-select: none;
  white-space: nowrap;
  position: relative;
  border: 1px solid #383838;
}
.icon {
  background-size: cover;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-sizing: border-box;
  display: inline-block;
  height: 2em;
  margin-right: 5px;
  vertical-align: top;
  width: 2em;
  cursor: pointer;
}
.rank {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  &--Main {
    background: green;
  }
  &--Alt {
    background: yellow;
  }
}
.name {
  display: flex;
  align-items: center;
}
sup {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  font-size: 0.85em;
  line-height: 1;
}
