@if (character) {
  <img class="icon" src="assets/icons/{{iconsSpecs[character.class + '_' + character.spec + '_' + character.role]}}" alt="">
  <span class="name text-{{character.class | lowercase}}">
    <span class="rank rank--{{character.rank}}"></span>
    @if (isWCLLinkVisible) {
      <a [routerLink]="['/', 'character', character.name]" href="https://fresh.warcraftlogs.com/character/eu/spineshatter/{{character.name}}">{{character.name}}</a>
    } @else {
      {{character.name}}
    }
    @if (character.player) {
      <sup>{{character.player.name}}</sup>
    }
  </span>
  @if (isRankingsVisible && wclCharacter) {
    <span class="perf" [style.color]="rankPercentColor(wclCharacter.bestPerformanceAverage)">
      {{formatPercent(wclCharacter.bestPerformanceAverage)}}
    </span>
  }
  @if (isGearVisible && wclCharacter) {
    <div class="gear">
      @for (item of wclCharacter.gear; track item.id) {
        @if (gearSlotName(item.slot) !== 'Shirt' && gearSlotName(item.slot) !== 'Tabard') {
          <a class="gear-icon-link"
             data-wh-icon-size="medium"
             href="https://www.wowhead.com/tbc/item={{item.id}}&ench={{item.permanentEnchantID}}"
             [title]="gearSlotName(item.slot)"
             target="_blank"></a>
        }
      }
    </div>
  }
}
