@import "colors";
@import "screen-sizes";

:host {
  display: block;
  position: relative;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(.8);
  width: 100%;
  height: 100%;
  background: rgba($deep-space, .9);
  border-radius: .5em;
  box-shadow: 0 .25em 2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1em);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  will-change: visibility, opacity, transform;
  transition: opacity .2s, transform .2s;
  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  .question {
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0 0 1em;
  }
  .actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    align-items: center;
    button {
      display: block;
      background: $mako;
      color: #fff;
      cursor: pointer;
      font-size: 1em;
      padding: 1em;
      border-radius: 2px;
      font-weight: bold;
      -webkit-user-select: none;
      user-select: none;
      white-space: nowrap;
      border: 1px solid #383838;
      position: relative;
      width: 100%;
      text-align: center;
      &:hover {
        background: lighten($mako, 10);
      }
      &[disabled] {
        cursor: default;
      }
    }
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: title;
    text-align: center;
    height: 2rem;
    padding: 0;
    margin: 0;
    line-height: 2rem;
    font-size: 14px;
    color: #9d9d9d;

    @include screen-tablet() {
      display: none;
    }
    img {
      display: block;
      margin: 0 4px 0 8px;
    }
  }
  .internal-actions, .external-actions {
    display: flex;
    align-items: center;
    i {
      color: $regal-gold;
    }
    button {
      display: block;
      margin: 0 4px 0 0;
      width: 24px;
      &:last-child {
        margin: 0;
      }
    }
  }
  span {
    display: flex;
    align-items: center;
  }
  .ratio {
    margin: 0 0 0 16px;
  }
  .green {
    color: green;
  }
  .yellow {
    color: yellow;
  }
}
.raidgroups {
  display: grid;
  align-items: center;
  grid-template-columns: .5fr repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  span {
    display: block;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
    color: $regal-gold;
    transition: color .2s;
  }
}
.highlight {
  animation: shake .2s infinite;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-.5rem);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  bottom: 0;
  font-size: 1.25em;
  line-height: 1em;
  cursor: pointer;
  &[disabled] {
    cursor: default;
  }
}
.discord-ping {
  position: relative;
  &:after {
    content: '1';
    position: absolute;
    border-radius: 50%;
    background: $victory-red;
    color: white;
    width: 16px;
    height: 16px;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: .7;
    font-weight: 600;
  }
}
