<header>
  <div class="internal-actions" data-html2canvas-ignore="true">
    <button (click)="export()" title="MRT export">⬆️</button>
    <button [disabled]="capturingScreenshot" (click)="screenshot()" title="Screenshot"><span class="icon-photo" [class.loading]="capturingScreenshot"></span></button>
    <button (click)="ping()" title="Discord pings">✉️</button>
  </div>
  <h3>
    <span>{{title}}</span>
    <span [class.green]="tankCount === 2"><img src="assets/icons/icon_tank.png" width="24px" height="24px"> {{tankCount}}</span>
    <span [class.green]="meleeCount + rangedCount === 6"><img src="assets/icons/icon_melee.png" width="24px" height="24px"> {{meleeCount}}</span>
    <span [class.green]="meleeCount + rangedCount === 6"><img src="assets/icons/icon_ranged.png" width="24px" height="24px"> {{rangedCount}}</span>
    <span [class.green]="healerCount === 2"><img src="assets/icons/icon_heal.png" width="24px" height="24px"> {{healerCount}}</span>
    <span class="ratio">
      [<span class="yellow">{{altCounter}}</span>/<span class="green">{{mainCounter}}</span>]
    </span>
  </h3>
  <div class="external-actions" data-html2canvas-ignore="true">
    <button (click)="onPruneClick.emit()">🗑️</button>
    <button (click)="onRemoveClick.emit()">💀</button>
  </div>
</header>
<div class="raidgroups" #raidGroups>
  <app-character-tile
    *ngFor="let slot of raid; index as i"
    class="character-{{i}}"
    [class.highlight]="slot?.highlight"
    (click)="onSlotClick.emit(i)"
    (dragover)="onDragOver.emit(i)"
    (dragstart)="onSlotDragStart.emit(i)"
    (dragend)="onSlotDragEnd.emit()"
    [character]="slot"
    [draggable]="!!slot"
  ></app-character-tile>
</div>
