@import "colors";

:host {
  display: block;
}
.totals {
  background: $deep-space;
  padding: 10px;
  margin: 0 0 2em;
  background: rgba($deep-space, .9);
  border-radius: .5em;
  box-shadow: 0 .25em 2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1em);
  border: 1px solid rgba(255, 255, 255, 0.3);
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: $regal-gold;
    margin: 0;
    padding: 0;
  }
  li {
    margin-right: 2em;
    font-weight: 600;
    &:last-child {
      margin: 0;
    }
  }
}
.players-list {
  padding: 10px;
  background: rgba($deep-space, .9);
  border-radius: .5em;
  box-shadow: 0 .25em 2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1em);
  border: 1px solid rgba(255, 255, 255, 0.3);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 0 2em;
  }
}
