@import "colors";

:root {
  display: block;
}
header {
  padding: 1em 0;
  margin: 1em 1em 2em;
  background: rgba($deep-space, .5);
  border-radius: .5em;
  box-shadow: 0 .25em 2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(.5em);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: sticky;
  top: 1em;
  z-index: 1;
  .header-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    margin: 0 2em 0 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    &-image {
      display: block;
      width: 2em;
    }
  }
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }
    li {
      &:last-child {
        margin: 0;
      }
    }
    a {
      padding: .5em 1em .5em 0;
      margin: 0 1em 0 0;
      color: $regal-gold;
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
