@for (classAssignmentKeyValue of (assignments | keyvalue); track classAssignmentKeyValue.key) {
  @let classAssignment = getClassAssignmentFromKeyValueObject(classAssignmentKeyValue);

  <article>
    <h4>
      <img src="assets/icons/{{classAssignment.headerIcon}}" alt="">
      {{ classAssignment.headerText }}
    </h4>
    <div class="card-list">
      @for (assignment of classAssignment.assignments; track assignment) {
        <div class="card">
          <h5 class="card-title">
            <img src="assets/icons/{{assignment.headerIcon}}" alt="">
            {{assignment.headerText}}
          </h5>
          <ul class="card-body">
            @for (action of assignment.actions; track action) {
              <li>
                <div class="caster">
                  @if (action.caster?.name) {
                    <app-character-tile [character]="action.caster"></app-character-tile>
                  } @else {
                    <span class="empty">-</span>
                  }
                </div>
                <div class="target">
                  @if (typeof action.target === 'string') {
                    <span>
                    @if (action.icon) {
                      <img src="assets/icons/{{action.icon}}" alt="">
                    }
                      {{action.target}}
                  </span>
                  } @else {
                    <app-character-tile [character]="getTarget(action)"></app-character-tile>
                  }
                </div>
              </li>
            }
          </ul>
        </div>
      } @empty {
        <p>No assignments found</p>
      }
    </div>
  </article>
}
