@import "colors";
@import "class-colors";
@import "assets/fontawesome/scss/fontawesome";
@import "assets/fontawesome/scss/solid";
@import "assets/fontawesome/scss/brands";

/* You can add global styles to this file, and also import other style files */
body {
  background: #000 url("assets/images/background.jpg") fixed;
  background-size: cover;
  font: 14px "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: .5em;
    height: .5em;
    transition: height .2s linear,opacity .2s linear,background-color .2s linear;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $silver-steel;
    height: .5em;
    border-radius: .25em;
  }
}
.container {
  margin: 0 auto;
  max-width: 1630px;
  position: relative;
  transition: max-width 150ms;
  width: calc(100% - 20px);
}
img {
  max-width: 100%;
  height: auto;
}
.icon-photo {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 16px;
  border: 1px solid $regal-gold;
  border-radius: 2px;
  background-color: $deep-space;
  will-change: border-color, background-color;
  transition: .2s border-color, .2s background-color;
  &:before {
    content: '';
    display: block;
    border: 1px solid $regal-gold;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: radial-gradient($regal-gold 0%, $regal-gold 40%, transparent 40%, transparent 100%);
    will-change: border-color, width, height;
    transition: .2s border-color, .2s width, .2s height;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background: $deep-space;
    width: 8px;
    height: 3px;
    border: 1px solid $regal-gold;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    will-change: opacity;
    transition: opacity;
  }
  &.loading {
    border-color: transparent;
    background-color: transparent;
    &:before {
      background: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
      width: 16px;
      height: 16px;
      animation-name: spin;
      animation-delay: 100ms;
      animation-duration: 250ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      border-width: 2px;
    }
    &:after {
      opacity: 0;
    }
  }
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
