<ul>
  <li>
    <a routerLink="/composition">
      <img src="assets/images/raid-composition.webp" alt="">
      <span class="overlay">
        <span class="title">Raid Composition Tool</span>
      </span>
    </a>
  </li>
  <li>
    <a routerLink="/players">
      <img src="assets/images/players.png" alt="">
      <span class="overlay">
        <span class="title">Our Players</span>
      </span>
    </a>
  </li>
  <li>
    <a routerLink="/calendar">
      <img src="assets/images/calendar.png" alt="">
      <span class="overlay">
        <span class="title">Lockout Calendar</span>
      </span>
    </a>
  </li>
</ul>
