@import "colors";

:host {
  display: block;
  background: $deep-space;
  border: 1px solid $mako;
  border-radius: 2px;

  font-size: 1.5em;
  color: #fff;
  padding: 2em 15%;
}
a {
  color: $regal-gold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  a {
    display: block;
    position: relative;
    border-radius: .25em;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, .17);
      will-change: background;
      transition: background .2s;
    }
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $mako;
      padding: 1em;
      will-change: padding;
      transition: padding .2s;
    }
    &:hover {
      &:before {
        background: rgba(0, 0, 0, .34);
      }
      .overlay {
        padding: 2em 1em;
      }
    }
  }
}
